.portfolio{
  &__wrapper{
    margin-top: 84px;
  }

  &__content{
    font-size: 0;
  }

  &__half-screen-col{}
}


.half-screen-col{
  display: inline-block;
  width: 50%;
  overflow: hidden;
  vertical-align: top;
  transition: top .2s ease;

  &__item{}
}


.portfolio-item{
  opacity: 0;

  &__link{
    overflow: hidden;
    height: auto;
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;

    &:hover .portfolio-item__img{
      transform: scale(1.05);
    }
  }

  &__img{
    display: block;
    transition: all 0.6s cubic-bezier(0.600, 0.000, 0.200, 1.000);
    transition-timing-function: cubic-bezier(0.600, 0.000, 0.200, 1.000);
  }

  &__small-descr{
    position: absolute;
    padding: 30px;
    bottom: 0;
    color: #000000;

    &--text-light{
      color: #FFFFFF;
    }
  }

  &__category{
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    overflow: hidden;
  }

  &__project-name{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
    margin-top: 10px;
    overflow: hidden;
  }

  &__text-animation{
    display: inline-block;
    font-size: inherit;

    transform: translateY(-100%);
    transition: transform 0.8s cubic-bezier(0.600, 0.040, 0.170, 0.980);
    transition-timing-function: cubic-bezier(0.600, 0.040, 0.170, 0.980);
    transition-delay: 1.2s;

    &--small{
      transition-delay: 1s;
    }
  }
}

.animated{
  .portfolio-item__text-animation{
    transform: translateY(0);
  }
}