.project{
  &__wrapper{}

  &__content{
    display: flex;
    justify-content: space-between;
  }

  &__illustrations-col{
  }

  &__description-col{
  }
}


.illustrations{
  width: 50%;

  &__list{}

  &__item{}

  &__img-wrapper{
    line-height: 0;
  }

  &__img{}
}


.description{
  width: 36%;
  padding-right: 7%;
  position: fixed;
  right: 0;

  &__title{}

  &__sub-title{}

  &__text{
    margin-top: 40px;
  }
}